/* SECTION */
header .rhs {
    display: flex;
    align-items: center;
}

ul.langs {
    display: flex;
    color: var(--text-color);
    font-size: 13px;
}

.langs li.seperator {
    margin: 0 1rem;
}

.langs .lang {
    cursor: pointer;
    position: relative;
}

.langs .lang::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--text-color);
    transition: .37s;
}


.langs .lang:hover::before {
    width: 100%;
}

header .favourite {
    color: var(--text-color);
    font-size: 22px;

    margin: 0 1.5rem;
    cursor: pointer;
}

.profile {
    cursor: pointer;

    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--text-color);
}

.profile .text {
    margin-left: 0.5rem;
}

button.postNewLink {
    margin-left: 2rem;
    height: 46px;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--primary-color);
    border-radius: 5px;
    
    box-sizing: border-box;
    border: 5px solid var(--text-color);
    
    display: flex;
    align-items: center;

    transition: .37s;
}

button.postNewLink:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}